#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#edit_user_title {
    color: #fff;
    font-weight: bold;
    font-size: 35px;
    margin: 60px 0px;
}


#edit_user {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 75%;
    min-width: 200px;
}

#api_keys {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

#api_keys_title {
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    margin: 0px 0px 40px 0px;
}

.api_key {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgb(24, 24, 24);
    border-radius: 20px;
    margin-bottom: 15px;
}

.api_key_key {
    color: #fff;
    margin: 0px 20px;
}

.api_key_delete {
    margin: 15px 20px 15px 0px;
}

.delete_api_key {
    background-color: rgb(151, 0, 0);
    font-weight: bolder;
    padding: 5px 10px;
    color: #fff;
    cursor: pointer;
    border-radius: 7px;
}

#new_api_key {
    margin-top: 10px;
}

#new_api_key_button {
    background-color: rgb(0, 77, 0);
    font-size: 16px;
    font-weight: bold;
    padding: 8px 13px;
    color: #fff;
    cursor: pointer;
    border-radius: 7px;
}

#edit_user_fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

#edit_user_fields_title {
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    margin: 0px 0px 40px 0px;
}

.update_user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75%;
    background-color: rgb(24, 24, 24);
    padding: 40px 0px;
    border-radius: 18px;
    margin-bottom: 30px;
}

.update_user_title {
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    margin: 0px 0px 40px 0px;
}

.update_user_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75%;
}

.update_user_input {
    margin-bottom: 20px;
    height: 40px;
}

.update_user_submit {
    background-color: rgb(0, 77, 0);
    font-size: 16px;
    font-weight: bold;
    padding: 8px 13px;
    color: #fff;
    cursor: pointer;
    border-radius: 7px;
}

#delete_user_button {
    background-color: rgb(151, 0, 0);
    font-size: 16px;
    font-weight: bold;
    padding: 8px 13px;
    color: #fff;
    cursor: pointer;
    border-radius: 7px;
}

/* Delet user confirmation */

#delete_user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
}

#delete_user_title {
    color: #fff;
    font-size: 35px;
    font-weight: 500;
    margin: 60px 0px;

}

#delete_user_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    padding: 40px 0px;
    border-radius: 18px;
    margin-bottom: 30px;
}

#delete_user_input {
    margin-bottom: 20px;
    height: 40px;
}

#delete_user_submit {
    background-color: rgb(151, 0, 0);
    font-size: 16px;
    font-weight: bold;
    padding: 8px 13px;
    color: #fff;
    cursor: pointer;
    border-radius: 7px;
}